.about {
  padding: 120px 0;

  .container {
    max-width: 1240px;
  }
}

.about__content {
  display: flex;
  align-items: center;
  gap: 104px;
}

.about__title {
  margin-bottom: 40px;
}

.about__image {
  min-width: 299px;
  height: 84px;

  img {
    width: 100%;
    object-fit: contain
  }
}

.about__description {
  @include font-settings ($ff-nun, 400, 22px, 1.4);
  color: $color-solitude;
  letter-spacing: -1.5px;

  i {
    font-weight: 700;
  }
}
