.btn {
  background: linear-gradient(38deg, #0047ff 0%, #c100ae 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 60px;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color $trans-default;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all $trans-default;
  }

  span {
    @include font-settings ($ff-mon, 700, 16px, 1);
    color: $color-default-white;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 12px;
    z-index: 10;
    transition: all $trans-default;
  }

  @include hover-focus {
    span {
      background-color: $color-default-white;
      color: $color-black-russian;
      transition: all $trans-default;
    }

    &::before {
      filter: blur(60px);
      background: linear-gradient(38deg, #0047ff 0%, #c100ae 100%);
      transition: all $trans-default;
    }
  }

}
