@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "NunitoSans";
  font-display: swap;
  src:
    url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "NunitoSans";
  font-display: swap;
  src:
  url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
  url("../fonts/NunitoSans-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "NunitoSans";
  font-display: swap;
  src:
  url("../fonts/NunitoSans-Bold.woff2") format("woff2"),
  url("../fonts/NunitoSans-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";
  font-display: swap;
  src:
  url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
  url("../fonts/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";
  font-display: swap;
  src:
  url("../fonts/Montserrat-Bold.woff2") format("woff2"),
  url("../fonts/Montserrat-Bold.woff") format("woff");
}
